.dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  flex-direction: column;

  background-color: var(--colors-dark-400);
  border-radius: var(--radius-m);

  inline-size: 100%;

  margin-block-start: 0.5rem;
  padding: 0.5rem;
  gap: 0.375rem;
}

.dropdown_item {
  display: flex;
  align-items: center;

  inline-size: 100%;
  padding: 0.5rem;
  gap: 0.75rem;

  border-radius: var(--radius-s);
  background-color: var(--colors-dark-300);

  cursor: pointer;
}

.project_icon {
  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 2.5rem;
  block-size: 2.5rem;

  background-color: var(--colors-dark-300);
  border-radius: var(--radius-s);

  user-select: none;
}

.project_icon img {
  inline-size: 100%;
  block-size: 100%;

  pointer-events: none;
}

.project_icon :global(.icon) {
  inline-size: 1.5rem;
  block-size: 1.5rem;
  color: var(--colors-light-600);
}

.project_metadata {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  user-select: none;
}

.project_metadata .project_name {
  font-size: 14px;
  font-weight: 600;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project_metadata .project_desc {
  font-size: 12px;
  letter-spacing: -0.0125rem;
  color: var(--colors-light-600);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
