.project_modal {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 100%;
  block-size: 100%;

  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.425);

  z-index: 100;
  overflow-y: auto;
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;

  inline-size: 100%;
  max-inline-size: 480px;

  padding: 2rem;
  margin: 1rem;

  background-color: var(--colors-light-100);
  border-radius: var(--radius-m);

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.105);
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 2rem;
  block-size: 2rem;

  border-radius: var(--radius-rounded);
  border: none;
  background-color: var(--colors-light-300);
  color: var(--colors-dark-100);

  cursor: pointer;
}

.modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal_title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-block-end: 1.5rem;
}

.avatar_maker {
  position: relative;
}

.project_avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  inline-size: 128px;
  block-size: 128px;

  border-radius: var(--radius-xl);
  background-color: var(--colors-light-300);
  margin-block-end: 1.5rem;

  text-transform: uppercase;
  font-size: 48px;
  color: var(--colors-dark-100);

  aspect-ratio: 1/1;
}

.avatar_palette {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  margin-block: 0.375rem;
}

.avatar_palette_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 16px;
  block-size: 16px;

  border-radius: var(--radius-s);
  outline: 2px solid transparent;

  cursor: pointer;
  overflow: hidden;
}

.emoji_palette_item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 16px;
  block-size: 16px;

  padding: 6px;
  box-sizing: content-box;

  background-color: var(--colors-light-300);
  border-radius: var(--radius-rounded);
  outline: 2px solid var(--colors-light-400);

  cursor: pointer;
  overflow: hidden;
}

.emoji_palette_item:nth-child(1) {
  top: 0;
  right: -42px;
}
.emoji_palette_item:nth-child(2) {
  top: 52px;
  left: -64px;
}
.emoji_palette_item:nth-child(3) {
  bottom: 42px;
  right: -42px;
}
.emoji_palette_item:nth-child(4) {
  bottom: 42px;
  left: -42px;
}
.emoji_palette_item:nth-child(5) {
  top: 0;
  left: -42px;
}
.emoji_palette_item:nth-child(6) {
  top: 52px;
  right: -64px;
}

.avatar_palette_item.active {
  outline-color: var(--colors-dark-100);
}
.emoji_palette_item.active {
  outline-color: var(--colors-light-800);
}

.modal_body {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  margin-block-start: 3rem;
}

.form_group {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.form_group label {
  font-size: 14px;
}

.form_group input,
.form_group textarea {
  padding: 0.5rem 1rem;

  outline: 1px solid var(--colors-light-400);
  border-radius: var(--radius-m);
  border: none;
  background-color: var(--colors-light-200);

  color: var(--colors-dark-100);
  font: inherit;
}

.form_group textarea {
  block-size: 126px;
}

.form_group input:focus,
.form_group textarea:focus {
  outline: 2px solid var(--colors-light-400);
}

.form_group:last-child {
  align-items: center;

  margin-block-start: 1.5rem;
}
