.task_modal {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 100%;
  block-size: 100%;

  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.425);

  z-index: 100;
  overflow-y: auto;
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;

  inline-size: 100%;
  max-inline-size: 480px;

  padding: 1rem 1.5rem;
  margin: 1rem;

  background-color: var(--colors-light-100);
  border-radius: var(--radius-m);

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.105);
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 2rem;
  block-size: 2rem;

  border-radius: var(--radius-rounded);
  border: none;
  background-color: var(--colors-light-300);
  color: var(--colors-dark-100);

  cursor: pointer;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-end: 1.5rem;
}

.modal_header h6 {
  font-size: 18px;
  font-weight: 600;
  color: var(--colors-dark-300);
}

.modal_title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-block-end: 1.5rem;
}

.modal_body {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}
