.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.0256rem;
  color: var(--colors-dark-300);
}

.desc {
  font-size: 1rem;
  color: var(--colors-dark-700);
  letter-spacing: -0.0128rem;

  margin-block-start: 0.5rem;
  margin-inline-start: 0.1rem;
}
