@import "./variables.css";

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  scroll-behavior: smooth;
  block-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colors-light-default);
  color: var(--colors-dark-default);
  font: normal normal 16px/1.6667 Inter, -apple-system, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

button,
input {
  box-shadow: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
}

ul,
ol,
li {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

textarea {
  resize: none;
}

#app-mount {
  display: flex;
  flex-direction: column;
  block-size: 100%;
}

.icon {
  display: flex;

  inline-size: 1rem;
  block-size: 1rem;
}

.icon svg {
  inline-size: 100%;
  block-size: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.form-group label {
  font-size: 14px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.5rem 1rem;

  outline: 1px solid var(--colors-light-400);
  border-radius: var(--radius-m);
  border: none;
  background-color: var(--colors-light-200);

  color: var(--colors-dark-100);
  font: inherit;
}

.form-group textarea {
  block-size: 126px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: 2px solid rgb(var(--colors-blue));
}

.form-group select {
  appearance: none;
  padding: 0.75rem;

  cursor: pointer;
}

.form-group:last-child {
  align-items: center;

  margin-block-start: 1.5rem;
}
