:root {
  /* colors */
  --colors-green: 238, 254, 125;
  --colors-green-active: 218, 234, 105;
  --colors-teal: 95, 208, 180;
  --colors-pink: 255, 156, 221;
  --colors-blue: 112, 172, 254;
  --colors-purple: 200, 145, 243;
  --colors-yellow: 255, 233, 39;

  --colors-dark-default: #000;
  --colors-dark-100: #0d0d0f;
  --colors-dark-200: #1a1a1d;
  --colors-dark-300: #212123;
  --colors-dark-400: #29292c;
  --colors-dark-500: #37373a;
  --colors-dark-600: #4a4b4c;
  --colors-dark-700: #57585a;
  --colors-dark-800: #66686a;
  --colors-dark-900: #737579;

  --colors-light-default: #fffffe;
  --colors-light-100: #f6f6fa;
  --colors-light-200: #e8eaef;
  --colors-light-300: #d6d8da;
  --colors-light-400: #c4c4c9;
  --colors-light-500: #b0b1b4;
  --colors-light-600: #a1a3a5;
  --colors-light-700: #909294;
  --colors-light-800: #838484;
  --colors-light-900: #78797a;

  /* misc */
  --radius-xs: 4px;
  --radius-s: 6px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-xxl: 32px;
  --radius-rounded: 100%;

  /* animations */
  --transition-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
}
